.page {
  background-color: #F3F3F3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1;
  width: 100%;
}