.card {
  width: 323px;
  border-radius: 16px;
  border: 1px solid #0000004d;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__title-row {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #ffffff;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
  letter-spacing: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.card__image {
  width: 100%;
}

.card__like-button {
  position: absolute;
  width: 18px;
  height: 15px;
  background-image: url("../../assets/State=Default.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../../assets/State=Active.png");
}

