.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 0;
}
.header__logo {
    margin-right: 24px;
}
.header__date-and-location {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000;
}
.header__add-clothes-btn {
    margin: 0 20px 0 0;
    color: #000;
    background-color: #f3f3f3;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    border: none;

}
.header__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0 7px;
}
.header__username {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
}
.header__avatar {
width: 40px;
height: 40px;
left: 1320px;
opacity: 1;
border-width: 1px;
}

.header__nav-link {
    text-decoration: none;
    color: #000000;

}