.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 0;
  margin-bottom: 24px;
}

/* LEFT */
.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  display: block;
}

.header__date-and-location {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

/* RIGHT */
.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-clothes-btn {
  background-color: #f3f3f3;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

/* USER */
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* FALLBACK LETTER */
.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
}

.header__username {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    color: #000000;
}

.header__register-btn,
.header__login-btn {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  transition: opacity 0.3s;
}

.header__register-btn:hover,
.header__login-btn:hover {
  opacity: 0.6;
}