.item-modal__wrapper .modal {
  display: flex;
  position: fixed;
  background-color: #0000004d;
  z-index: 3;
  align-items: center;
  justify-content: center;
  inset: 0;
}

/* Modal content (image version) */
.item-modal__wrapper .modal__content_type_image {
  position: relative;
  display: block;
  width: 498px;
  height: 610px;
  border-radius: 16px;
  overflow: hidden;
}

/* Large image */
.item-modal__wrapper .modal__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 498px;
  height: 498px;
  object-fit: cover;
}

.item-modal__wrapper .modal__footer {
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 112px;
  margin: 0;
  transform: translateX(-50%);
  width: 498px;
  background: #fff;
  color: #111;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.item-modal__wrapper .modal__caption {
  margin: 20px auto 12px 32px;
  font-size: 20px;
  font-weight: 700;
}

.footer__caption-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; 
}

.footer__caption-delete .item-modal__delete-button {
  margin: 20px 32px 12px 0;
  background: none;
  border: none;
  color: #ff4d00;          
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.item-modal__wrapper .modal__weather {
  margin: 0 auto 32px 32px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

/* Close button */
.item-modal__wrapper .modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  z-index: 2;
  cursor: pointer;
  padding: 0;
}

.item-modal__wrapper .close__button {
  width: 20px;
  height: 20px;
  display: block;
}

.item-modal__wrapper .modal__close:hover {
  opacity: 0.6;
}
