.sidebar .SideBar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 47px 116px auto 0;
  padding: 0;
}
.SideBar__avatar {
  width: 56px;
  height: 56px;
  left: 1320px;
  opacity: 1;
  border-width: 1px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  /* display: block; */
}
.SideBar__username {
  margin: 0;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  white-space: nowrap;
}
