.footer {
  background-color: #F3F3F3;
  width: 100%;
}

.footer__copyright {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  color: #000000;
}

.footer__author,
.footer__year {
  margin: 0;
  padding: 0;
}