.footer {
    background-color: #F3F3F3;
    width: 1358px;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    
}

.footer__copyright {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}

.footer__author {
    height: 20px;
}