.clothes-section__header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 47px 0 0 0;
  padding: 16px 0 15px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  gap: 20px;
  flex-grow: 1;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.Text {
  font: inherit;
  color: #000000;
  padding: 0;
  margin: 0;
  border: none;
}

.clothes-section__add-new-btn {
  margin: 0;
  padding: 0;
  border: none;
  color: #00000099;
  font: inherit;
  background: none;
  cursor: pointer;
}
