.clothes-section {
  flex: 1;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  margin: 0 0 34px;
  padding: 0;
  gap: 20px;
}

.Text {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 0;
  margin: 0;
}

.clothes-section__add-new-btn {
  margin: 0;
  padding: 0;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 700;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.clothes-section__add-new-btn:hover {
  opacity: 0.6;
}

.clothes-section__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
